body {
  background-color: #faf5eb;
}

.App {
  background-color: #faf5eb;
  font-family: monospace;
  color: #4f4f4f;
}

.container{
  display: grid;

  grid-template-columns: 500px 500px;
  grid-gap: 10px;
  justify-content: center;
}

.textbox{
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
}

.title-bar{
  background-color: #f4c472;
  margin: auto;
  margin-bottom: 15px;
  padding: 5px 15px;
  font-weight: bold;
}

.window{
  background-color: #ffeaa3;
  border: 1px solid white;
  width: 480px;
  margin: auto;
  margin-top: 20px;
  min-height: 400px;
}



#editor{
  border: 0px solid black;
}

#preview{
  border: 0px solid black;
}

@media (max-width: 1000px) {
  .container{
    grid-template-columns: 500px;
  }
}
